In [1]:
import pymysql
import pandas as pd
import winsound

In [2]:
db = pymysql.connect(host = 'localhost',user = 'root',password = '123456',db = 'zeddhzm',charset='utf8')   
cur = db.cursor()   
sql = "SELECT * FROM jdcomment_new"
cur.execute(sql)
result = cur.fetchall()
df = pd.DataFrame(list(result),columns=['ID','NICKNAME','CONTENT','CONTENT_LENGTH','CONTENT_CUT','CREATIONTIME','SCORE','REPLYCOUNT','IMAGESTATUS','IMAGECOUNT','USEFULVOTECOUNT','date','date_now','timedelta'])
cur.close()
db.close()
winsound.Beep(300,1000)

In [3]:
dff = df.copy()

In [4]:
dff.head()

,ID,NICKNAME,CONTENT,CONTENT_LENGTH,CONTENT_CUT,CREATIONTIME,SCORE,REPLYCOUNT,IMAGESTATUS,IMAGECOUNT,USEFULVOTECOUNT,date,date_now,timedelta
0,13872879901,j***5,机器刚到手，就发布降价信息！服了，气管接口粗糙，屏幕连个膜都没有！写的记忆14次，实际10次...,56,机器 刚 到手 发布 降价 信息 服 气管 接口 粗糙 屏幕 连个 膜 没有 写 记忆 14...,2020-03-04 18:21:47,1,14,1,2,47,2020-03-04,2021-01-24,326
1,14916170593,海***行,你们这是@，知道么。用你们的血压计天天测都是120-130的，80-90的，要不是我去医院拿...,92,这是 @ 知道 血压计 天天 测都 120 - 130 80 - 90 医院 拿药 测 一下...,2020-11-16 21:01:30,1,10,0,0,10,2020-11-16,2021-01-24,69
2,12329148322,布***咔,不准，比医院用的高了11,12,不准 医院 高 11,2019-01-02 14:39:18,1,17,1,1,30,2019-01-02,2021-01-24,753
3,12737339981,j***z,真的垃圾啊，不到一个月，显示屏就出问题了,20,真的 垃圾 不到 一个月 显示屏 出 问题,2019-05-07 21:49:36,1,10,0,0,39,2019-05-07,2021-01-24,628
4,14050194816,心***福,测不注意测不准就这玩意还是算了吧，根本,19,测 注意 测 不准 玩意 算了吧 根本,2020-04-18 20:29:44,1,23,0,0,66,2020-04-18,2021-01-24,281

In [5]:
dff.dtypes

ID                         object
NICKNAME                   object
CONTENT                    object
CONTENT_LENGTH              int64
CONTENT_CUT                object
CREATIONTIME       datetime64[ns]
SCORE                       int64
REPLYCOUNT                  int64
IMAGESTATUS                 int64
IMAGECOUNT                  int64
USEFULVOTECOUNT             int64
date                       object
date_now                   object
timedelta                   int64
dtype: object

In [6]:
dff2 = dff[['CONTENT_LENGTH','SCORE','REPLYCOUNT','IMAGECOUNT','timedelta','USEFULVOTECOUNT']].copy()

In [7]:
dff2

,CONTENT_LENGTH,SCORE,REPLYCOUNT,IMAGECOUNT,timedelta,USEFULVOTECOUNT
0,56,1,14,2,326,47
1,92,1,10,0,69,10
2,12,1,17,1,753,30
3,20,1,10,0,628,39
4,19,1,23,0,281,66
...,...,...,...,...,...,...
15551,15,5,0,1,21,0
15552,24,5,0,1,21,0
15553,12,5,0,1,21,0
15554,18,5,0,1,21,0
15555,15,5,0,1,22,0

In [9]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler

In [17]:
all_x = dff2[['CONTENT_LENGTH','SCORE','REPLYCOUNT','IMAGECOUNT','timedelta']]
all_y = dff2['USEFULVOTECOUNT']

x_train,x_test,y_train,y_test = train_test_split(all_x,all_y,test_size=0.3,random_state=0)

x_train = StandardScaler().fit_transform(x_train)

y_train = np.array(y_train).ravel()

grid = GridSearchCV(svm.SVC(), param_grid={"C":[0.01, 0.1, 1, 5, 10, 100], "gamma": [100, 10, 1, 0.1, 0.01]}, cv=3)
grid.fit(x_train,y_train)
print("The best parameters are %s with a score of %0.5f" % (grid.best_params_, grid.best_score_))

# svm_model = svm.SVC(C=1,kernel='rbf',gamma=2)
# model_res = svm_model.fit(x_train,y_train)

#计算svc分类器的准确率
#print("训练集：",model_res.score(x_train,y_train))
#print("测试集：",model_res.score(x_test,y_test))

winsound.Beep(300,1000)

D:\Softwares Installed\Anaconda\anaconda\lib\site-packages\sklearn\model_selection\_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  % (min_groups, self.n_splits)), UserWarning)

The best parameters are {'C': 10, 'gamma': 0.01} with a score of 0.90017

In [17]:
svm_model2 = svm.SVC(C=2,kernel='rbf',gamma=10)
svm_model2.fit(x_train,y_train)
print("训练集：",svm_model2.score(x_train,y_train))
print("测试集：",svm_model2.score(x_test,y_test))
winsound.Beep(300,1000)

训练集： 0.9423271191110295
测试集： 0.8952217698735805

In [19]:
svm_model2 = svm.SVC(C=10,kernel='rbf',gamma=1)
svm_model2.fit(x_train,y_train)
print("训练集：",svm_model2.score(x_train,y_train))
print("测试集：",svm_model2.score(x_test,y_test))
winsound.Beep(300,1000)

训练集： 0.928643585269538
测试集： 0.8952217698735805

In [15]:
svm_model2 = svm.SVC(C=5,kernel='rbf',gamma=10)
svm_model2.fit(x_train,y_train)
print("训练集：",svm_model2.score(x_train,y_train))
print("测试集：",svm_model2.score(x_test,y_test))
winsound.Beep(300,1000)

训练集： 0.9489392965377904
测试集： 0.8952217698735805

In [16]:
svm_model2 = svm.SVC(C=10,kernel='rbf',gamma=10)
svm_model2.fit(x_train,y_train)
print("训练集：",svm_model2.score(x_train,y_train))
print("测试集：",svm_model2.score(x_test,y_test))
winsound.Beep(300,1000)

训练集： 0.9535310864174855
测试集： 0.8952217698735805

In [33]:
all_y_predict=svm_model2.predict(x_train)

In [34]:
a = list(all_y_predict)
df = pd.DataFrame(a, columns=['all_y_predict']) 
df.value_counts()

all_y_predict
0                10382
1                  183
2                   76
3                   49
4                   24
                 ...
33                   1
32                   1
27                   1
26                   1
428                  1
Length: 66, dtype: int64

In [37]:
dff.date

0        2020-03-04
1        2020-11-16
2        2019-01-02
3        2019-05-07
4        2020-04-18
            ...
15551    2021-01-03
15552    2021-01-03
15553    2021-01-03
15554    2021-01-03
15555    2021-01-02
Name: date, Length: 15556, dtype: object

In [50]:
len(dff[(dff['CREATIONTIME'].apply(lambda x:x.year)<2020) & (dff['USEFULVOTECOUNT']==0)])

3223